{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "quotes": ["error", "double"]
  }
}